.numeric{
	text-align:right;
}
.remarks{
	text-align:left;
}
.warning{
	background-color:pink;
}
.label{
	text-align: right;
	font-family: "ƒƒCƒŠƒI", Meiryo, Verdana, Helvetica, "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
}
