.numeric{
	text-align:right;
	width:35px;
}
.remarks{
	text-align:left;
}
.warning{
	background-color:pink;
}
.label{
	width: 200px;
	text-align: right;
	font: 14.5px "ƒƒCƒŠƒI", Meiryo, Verdana, Helvetica, "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
}
